#calcBody {
    display: grid;

    width: 500px;
    height: 725px;
    margin: auto;
    border: 1px solid black;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.display {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.btns {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

#one {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#two {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#three {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#four {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

}

#five {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#six {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#seven {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#eight {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#nine {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

#zero {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#clear {
    grid-column: 1 / 2;
    grid-row: 5 / 6;

}

#allClear {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

