#calcBody {
    display: grid;
    background-color: rgb(40, 40, 40);
    border-radius: 60px;
    padding: 15px;
    width: 500px;
    height: 725px;
    margin: auto;
    /* border: 1px solid black; */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.display {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: white;
    border-radius: 50%;
    margin: 15px;
}

.numbers {
    background-color: rgb(109, 109, 109);
}

.symbols {
    background-color: rgb(65, 94, 103);
}

.misc {
    background-color: rgb(181, 181, 181);
}

.clears {
    background-color: cadetblue;
}

#one {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#two {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#three {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#four {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

}

#five {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#six {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#seven {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#eight {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#nine {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

#zero {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#clear {
    grid-column: 1 / 2;
    grid-row: 5 / 6;

}

#equals {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}

#multiply {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

#allClear {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    border-radius: 45px;
}
